<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Snip URL</h1>
        <form action="" method="POST" class="form-inline">
            <label for="fullUrl" class="sr-only">Full URL:</label>
            <input type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2"/>
            <button type="submit" class="btn btn-success">GOO</button>
        </form>
        <br><br><br>
        <table>
            <thead>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">type</a></td>
                    <td><a href="12345">type</a></td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>